[package]
name = "tmux-fzf-switcher"
version = "0.1.0"
edition.workspace = true

[dependencies]
dirs.workspace = true
serde.workspace = true
serde_json.workspace = true
time = { version = "0.3", features = ["parsing"] }
