[tasks.build]
description = "Build with cargo (incremental)"
run = "nix develop path:../../nix#niri-switcher-dev -c cargo build --release"

[tasks.run]
description = "Build and run"
run = "nix develop path:../../nix#niri-switcher-dev -c cargo run --release"

[tasks.watch]
description = "Watch for changes and rebuild/run (debug mode)"
run = "nix develop path:../../nix#niri-switcher-dev --command watchexec -w src -e rs --restart -- cargo run"

[tasks.nix]
description = "Build with nix (clean build)"
run = "nix build path:../nix#niri-switcher"

[tasks.install]
description = "Build with nix and copy to result"
run = "nix build path:../nix#niri-switcher -o result"
